<% include component/top %>
	
	<!-- header -->
	<div class="header">
		登记报名
	</div>
	<!-- header -->
	<div class="apply">
		<div class="title">
			基本信息
		</div>
		<form action="" method="post" name="applyForm" onsubmit="return CheckPost()">
		<div class="weui-cells weui-cells_form">
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="text" placeholder="请输入真实姓名" name="user">
				</div>
			</div>
			<div class="weui-cell weui-cells_checkbox">
				<div class="weui-cell__hd"><label class="weui-label">性别</label></div>
				<div class="weui-cell__bd">
					<label for="s11" class="sex">
						<div class="weui-cell__hd">
							<input type="radio" class="weui-check" name="radio" id="s11" checked>
							<i class="weui-icon-checked"></i>
						</div>
						<div class="weui-cell__bd">男</div>
					</label>
					<label for="s12" class="sex">
						<div class="weui-cell__hd">
							<input type="radio" class="weui-check" name="radio" id="s12">
							<i class="weui-icon-checked"></i>
						</div>
						<div class="weui-cell__bd">女</div>
					</label>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="tel" placeholder="请输入手机号" name="tel">
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label for="" class="weui-label">出生年月</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="text" value="" id="date" readonly  placeholder="请选择出生年月" >
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">身份证号</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="text" placeholder="请输入身份证号" name="card">
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">学校名称</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="text" placeholder="请输入学校名称" name="schoolname">
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label for="name" class="weui-label">暂住地</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" id="start" type="text" value="" placeholder="请选择暂住地" name="adress">
				</div>
			</div>
			<div class="title">
				工作信息
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label for="" class="weui-label">开始工作时间</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="text" value="" id="startdate" readonly placeholder="请选择开始时间">
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label for="" class="weui-label">结束工作时间</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="text" value="" id="enddate" readonly placeholder="请选择结束时间">
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">邀请人手机</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="tel" placeholder="请输入手机号">
				</div>
			</div>
		</div>
		<button type="submit" name="submit" class="button">确认信息</button>
		</form>
	</div>
	
<% include component/bottom %>
<script src="../../script/jquery-weui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../script/city-picker.js" type="text/javascript"  charset="utf-8"></script>
<script>
	$("#date,#startdate,#enddate").calendar({
		onChange: function (p, values, displayValues) {
			console.log(values, displayValues);
			console.log(values[0])
		}
	});
	$("#start").cityPicker({
		title: "选择暂住地",
		onChange: function (picker, values, displayValues) {
			console.log(values, displayValues);
		}
	});
	function CheckPost(){
		return(username(),fradio(),ftel(),fcard(),fadress(),fschoolname())
	}
	const user = $('input[name=user]')
	const tel = $('input[name=tel]')
	const card = $('input[name=card]')
	const schoolname = $('input[name=schoolname]')
	const adress = $('input[name=adress]')
	user.blur(function () {
		username()
	})
	tel.blur(function () {
		ftel();
	})
	card.blur(function () {
		fcard();
	})
	schoolname.blur(function () {
		fschoolname();
	})
	adress.blur(function () {
		fadress();
	})
	function username(){
		const name = applyForm.user.value
		const regName = /[~#^$@%&!*()<>:;'"{}【】  ]/;
		if(name == "" || name.length < 2 || regName.test(name)) {
			user.parents(".weui-cell").addClass("bottom");
			$.toptip('姓名不能为空/小于2位数/特殊字符', 'warning');
			return false;
		}else{
			user.parents(".weui-cell").removeClass("bottom");
			console.log(name)
		}
	}
	function fradio(){
		var radio = $('input[name=radio]:checked').attr("id");
		console.log(radio)
	}
	function ftel(){
		const name = applyForm.tel.value
		const myreg = /^1[34578]\d{9}$/;
		if(name == "" || !myreg.test(name)){
			tel.parents(".weui-cell").addClass("bottom");
			$.toptip('电话不能为空/11位数字', 'warning');
			return false;
		}else{
			tel.parents(".weui-cell").removeClass("bottom");
			console.log(name)
		}
	}
	function fcard(){
		const name = applyForm.card.value
		var pattern = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/; 
		if(name == "" || !pattern.test(name)){
			card.parents(".weui-cell").addClass("bottom");
			$.toptip('身份证号码不为空/不正确', 'warning');
			return false;
		}else{
			card.parents(".weui-cell").removeClass("bottom");
			console.log(name)
		}
	}
	function fadress(){
		const name = applyForm.adress.value
		if(name == ''){
				adress.parents(".weui-cell").addClass("bottom");
				$.toptip('地址不为空/不正确', 'warning');
				return false;
		}else{
				adress.parents(".weui-cell").removeClass("bottom");
				console.log(name)
		}
	}
	function fschoolname(){
		const name = applyForm.schoolname.value
		if(name == ''){
				schoolname.parents(".weui-cell").addClass("bottom");
				$.toptip('地址不为空/不正确', 'warning');
				return false;
		}else{
				schoolname.parents(".weui-cell").removeClass("bottom");
				console.log(name)
		}
	}
</script>	