@charset "UTF-8";
@import "variables";
$fontSize: 64;
@function rem($n) {
  @return ($n / $fontSize) * 1rem;
}
//iconfont
.iconfont{font-family:"iconfont";font-size:rem(22) !important;font-style:normal;}
.menu_btn{position: relative; z-index:20;color: $gray-f;}
.labletitle .button{height: rem(80);line-height: rem(80); @extend .bg_white}
//quanju css
*{font-size: rem(22);}
body{@extend .margin_center; position: absolute;}
input{ padding: 0 rem(10);}
@mixin sanjiao($width) {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: rem($width);
}
//搜索
.seacher{padding: rem(25) rem(15);bottom: 0px; position: relative;
    input{width:100%; height:rem(60);border: none;@extend .border_radius_base; padding: 0px rem(70);}
    span{font-size: rem(26); color: $gray-9;margin-left: rem(10); cursor: pointer;}
    i.icon-sousuo{ position: absolute; left: rem(40); top: rem(30); font-size: rem(30) !important; color: #bbb;}
    i.icon-fanhui{ font-size: rem(30) !important; font-weight: bold; color: #666;}
}
.seacher.has{ background: #f8f8f8;
    input{ width:80%; padding: 0 rem(20); background: #e6e6e6;}
    span{color: #666;}
}
//问答列表
.qalist{
    ul{
        li{ margin-bottom: rem(20); background: $gray-f;
            .info{ padding: rem(25);
            a{ display: block; height: rem(120); overflow: hidden; 
                i.ask{ width: rem(30); height: rem(30); line-height: rem(30); text-align: center; background:$orange; color:$gray-f; display: inline-block; border-radius: rem(5);}
                span{font-size: rem(28); line-height: rem(40);
                    em{ color:$bule; text-decoration: underline; padding-left:rem(10);}
                }
            }
            a.tutora{height: auto;}
            .imginfo{ padding: rem(25) 0;width: 100%; margin-top: rem(20); position: relative;
                .img{width: rem(80); height: rem(80); position: relative;
                    img{ width: rem(80); height: rem(80); border-radius: rem(80);}
                    i{ position: absolute; right: 0; bottom: 0; font-size: rem(26) !important; color: #fff; width: rem(26); height: rem(26); text-align: center; line-height: rem(22); border-radius: rem(26); border: 1px solid #fff; display: inline-block;}
                    i.v_yellow{background:$yellow;}
                    i.v_orange{background:$orange;}
                    i.v_bule{background:$bule;}
                  }   
                  .txt{ padding-left: rem(25); font-size: rem(24); 
                      p{ font-size: rem(30); color: $bule; line-height: 100%;}
                  }
                  .zan,.caina,.ewmcode,.cainaxin,.xin{ position: absolute;}
                  .zan{ color: #666; right: rem(0);top:rem(25);
                      .iconfont{ font-size:rem(30) !important; margin-right: rem(5);}
                  }
                  .zan:active,.zan.hover{color: $bule;
                      .iconfont{ color: $bule;}
                  }
                  .caina{ right: rem(70); color:$orange; font-size:rem(60) !important; top:rem(-25);}
                  .ewmcode{right: rem(0);top:rem(0); font-size:rem(30) !important;}
                  .xin{right: rem(0);top:rem(20); font-size:rem(30) !important; color: #666;}
                  .xin:active,.xin.hover{color: $bule;
                      .iconfont{ color: $bule;}
                  }
                  .cainaxin{top: rem(25);right: 0;
                     a{display: inline-block;border: 1px solid $bule; color: $bule;font-size: rem(24) !important;padding: rem(20) !important;height: 0 !important;text-align: center;line-height: rem(5) !important;border-radius: rem(8);
                     }
                  }
            }
            .answer{font-size: rem(28); line-height: rem(40);}
            .marleft{margin-left: rem(100);}
            .lookanswer{ width: 95%; height: rem(60); line-height: rem(60); text-align: center; font-size: rem(28);background:$bule; color: $gray-f; border-radius: rem(10); margin: 0 auto;}
            }
            .text{height: rem(80); line-height: rem(80);border-top: 1px solid #eee; width: 100%; font-size: rem(24); color: #999; padding:0 rem(10);
                em{padding:0px rem(15);}
                .icon-dianzan1,.icon-pinglun{ font-size: rem(30) !important; margin-right: rem(5);}
                .follow{ width: rem(110); height: rem(50); line-height: rem(50); text-align: center; color: $gray-f; margin-top: rem(14); background: $bule; border-radius: rem(10);}
            }
        }
    }
}
//发布按钮
.release{ position: fixed; z-index: 100; width: rem(90); height: rem(90); text-align: center; color:$gray-f;background:$orange; border-radius: rem(90); cursor: pointer; right: rem(20); bottom: rem(120);
    .iconfont{ font-size: rem(40) !important; display: block;  line-height: 100%; margin-top:rem(5);}
    a{color:$gray-f;}
}
//底部
.index_footer{position:fixed;left: 0;bottom: 0;width: 100%;height: rem(98);display: -webkit-box;display: -webkit-flex;display: flex;background-color:$gray-f;table-layout: fixed;
   a {display: block;-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;text-align: center;color:$gray-9;font-size: rem(22); @extend .hr_c_top;
        .iconfont {display: block;font-size: rem(46) !important; height:rem(46); line-height: rem(46); margin-top: rem(10); margin-bottom: rem(3);}
    }
    a.on {color:$bule;}
 }
//if has index-footer and need allchoose or delete
.hasindex_footer{height: rem(98);}

//标题
.tik{ font-size: rem(28) !important; height: rem(65); line-height: rem(65);
    .iconfont{ color: $bule; font-size: rem(28) !important;}
    em{ color: $bule;}
}
//搜索历史记录
.history{ margin-top: rem(20); background: $gray-f;
    p{ padding:0 rem(25);  font-size: rem(33); color: #666; height: rem(100); line-height: rem(100); border-bottom: 1px solid #eee;
        i.iconfont{ font-size: rem(33) !important; margin-right: rem(5);}
    }
    ul{ padding: 0 rem(30);
        li{ height: rem(90); line-height: rem(90); border-top: 1px solid #eee; font-size: rem(28);}
        li:first-child{ border:0;}
    }
}
//弹出提问选择类型
.release_content{ position: fixed; width: rem(480);background: $gray-f; padding:rem(50); border-radius: rem(10); top:50%; left: 50%; margin-left: rem(-240); margin-top: rem(-240); z-index: 102;
    p{ font-size: rem(30); color: #333;}
    a{ height: rem(80); line-height: rem(80); text-align: center; color: $bule; border: 1px solid $bule; width: 100%;border-radius: rem(10); display: block; margin-bottom: rem(20);font-size: rem(30);}
    .close{position: absolute; top: rem(10); right: rem(20); color: $bule;font-size: rem(40) !important;}
}
//透明弹出层
.markbg{ width: 100%; height: 100%; position:absolute; background: #000; opacity: .5; top: 0px; left: 0px;z-index: 101; overflow: hidden;}
//提问类型表单
.problemtypes{
    textarea,input{ background: $gray-f; color: #666; border:0;}
    textarea{ padding: rem(20); height: rem(250); line-height:rem(50); margin-bottom: rem(20); width: 100%;font-size: rem(26);}
    ul{background: $gray-f;
        li{ padding: 0 rem(20); height: rem(100); line-height: rem(100); border-bottom: 1px solid #eee;
            .text{  width: rem(150); font-size: rem(30); color: #333; float: left; text-align: right;}
            .smalltext{ width: rem(100);}
            input{ padding: 0 rem(10); height: rem(98); float: left; width:70%; font-size: rem(26);}
            .iconfont{ color: #666;}
            .money{ float: left; font-size: rem(26);}
            .stall{font-size: rem(40) !important;}
        }
        .borderno{border:none ;font-size:rem(28);color: $gray-9;height: rem(70);}
        li.em{
            input{ width:65%;}
        }
        li.widthall{
            input{width:55%;}
            .yanzheng{display: inline-block;padding:rem(0) rem(15) !important;color: $bule;border: 1px solid $bule;line-height: rem(50);border-radius:rem(8);}
        }
        li.textarea{height:rem(300);
            textarea{padding: 0 rem(10); float: left; width:75%; line-height:rem(50); margin-top: rem(25);}
        }
    }
    .problemtypes_button{ width: 90%; margin:rem(40) auto; color: #fff; font-size: rem(34); background: $bule; text-align: center; height: rem(90);line-height: rem(90); display: block; border-radius: rem(10);}
}
//导师类别选择
.select_box {display: -webkit-box;display: -webkit-flex;display: flex;background-color: $gray-f;height: rem(80);line-height: rem(80);color: #666;border-bottom: 1px solid #eee;position: relative; z-index:102;
    div {height: rem(80);line-height: rem(80);@extend .text_center;-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;font-size: rem(24);
        .val{display: inline-block;height: 100%; overflow: hidden; width: 70%;}
        .select{display: none;}
        .double_select{display: none;
            .select{display: none;}
        }
    }
    div:after {float: right;margin-top: rem(35);margin-right: rem(30);content: " ";@include sanjiao(10);border-color:$gray-9 transparent transparent transparent;}
    div.on:after {margin-top: rem(25);border-color: transparent transparent $gray-9 transparent;}
    div.on {
        .val,&:after{border-color: transparent transparent $bule transparent; color:$bule;}
        .select{display: block;position: absolute;top: rem(80);left: 0;width: 10rem;z-index: 5;background-color:$gray-f; border-top: 1px solid #f2f2f2;font-size: rem(24);
            li {list-style: none; padding-left: rem(50); text-align: left;}
            li.on:before {content: "√";position: absolute;top: rem(5);left: rem(20);}
            li.on {color:$bule;background-color: #F2F2F2;}
        }
        .double_select{display: block; height: auto; overflow: hidden; border: none;position: absolute;z-index: 5;width: 100%; top:rem(80); left: 0;
            .p_select{width:5rem;height:10rem;float: left;overflow-x:auto;background-color:$gray-f;
                li{text-align: left;padding-left: rem(30); list-style: none;}
                li.on{background-color: #f2f2f2;}
            }
            .select{position: static;width:5rem;height:10rem;float: right; border: none;overflow-x:auto;background-color: #f2f2f2;}
        }
        .double_select:after{border:none;}
    }
}
//导师详情页
.tutorcontent{ padding: rem(20); background: $gray-f; margin-bottom: rem(20);
    p{ color: #666; font-size: rem(28); line-height: rem(48); height: rem(336); overflow: hidden;}
    a.more{ color: $bule;  text-align: center; text-decoration: underline; padding-top: rem(20); display: block;}
}
.tutorbutton{ position: fixed; height: rem(98); line-height: rem(98); bottom: 0; width: 100%;
    .guanzhu,.pay{ color:$gray-f;height: rem(98); text-align: center; font-size: rem(30);}
    .guanzhu{ background: $yellow;
        .iconfont{ font-size: rem(35) !important; margin-right: rem(5);}
    }
    .pay{ background: $bule;}
}
//弹出二维码
.ermcode_content{ position: fixed; width: rem(480);background: $gray-f; padding:rem(50); border-radius: rem(10); top:50%; left: 50%; margin-left: rem(-240); margin-top: rem(-240); z-index: 102; text-align: center;
    img{ margin: 0 auto rem(10);}
    .img{ width: rem(80); height: rem(80); border-radius: rem(70);}
    p{margin: 0; font-size: rem(26);}
    .text{ font-size: rem(20); color: #666;}
    .ewm{ width: rem(150); height: rem(150);}
    .close{position: absolute; top: rem(10); right: rem(20); color: $bule;font-size: rem(40) !important;}
}
//tab
.weui_tab{
    .weui_navbar{ background:$gray-f;
        a{ height: rem(100); line-height: rem(100); font-size: rem(30);}
    }
}
//添加回答
.addanswer{ height: rem(98); line-height: rem(98); background: #f8f8f8; padding:0 rem(20);position: fixed; left: 0px; bottom: 0; width: 100%;
    input{ border: 1px solid #eee; background: #fff; height: rem(70); line-height: rem(70);border-radius: rem(10); width: 75%;}
    span{ font-size: rem(28); color: #999; padding-left: rem(10);}
}
//经验详细页-评论
.comment{ background: $gray-f;
    ul{
        li{ position: relative; padding:rem(20); border-bottom: 1px solid #eee;display:-webkit-box;display:-moz-box;display:-ms-box;
            .img{width: rem(80); height: rem(80); position: relative;
                img{ width: rem(80); height: rem(80); border-radius: rem(80);}
                i{ position: absolute; right: 0; bottom: 0; font-size: rem(26) !important; color: #fff; width: rem(26); height: rem(26); text-align: center; line-height: rem(22); border-radius: rem(26); border: 1px solid #fff; display: inline-block;}
                i.v_yellow{background:$yellow;}
                i.v_orange{background:$orange;}
                i.v_bule{background:$bule;}
            }
            .text{padding-left: rem(25); font-size: rem(24);padding-left: rem(20);-webkit-box-flex:1;
                 p{ font-size: rem(30);line-height: 100%;}
            }
            .cont,.contnext{ font-size: rem(28);
                em{ color: $bule; font-size: rem(28);}
            }
            .icon-pinglun{ position: absolute; font-size: rem(32) !important; right:rem(20); top:rem(20); color: #999;}
        }
    }
}
