@charset "UTF-8";
body{ width: 100%; overflow-x: hidden; font-family:"microsoft yahei",Helvetica;padding: 0px; margin: 0;}
ol,ul{list-style: none;padding: 0px;margin: 0;}
i,em{font-style: normal;}
table,tr,td,th{border-collapse: collapse;border-spacing:0;vertical-align: middle;}
img,iframe{border:none;display: block;}
textarea{resize: none;}
input:focus, button:focus, select:focus,textarea:focus{outline: none;}

//----------------------------------------------------------------
//font
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        microsoft yahei;

$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-middle:        ceil(($font-size-base * 1.14)); // ~16px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px
//class
h1,h2,h3,h4,h5,h6{ padding: 0px; margin: 0;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;}
h1{ font-size:$font-size-h1;}
h2{ font-size:$font-size-h2;}
h3{ font-size:$font-size-h3;}
h4{ font-size:$font-size-h4;}
h5{ font-size:$font-size-h5;}
h6{ font-size:$font-size-h6;}
p {margin: 0 0 10px}

.font_12{ font-size: $font-size-small;}
.font_14{ font-size: $font-size-base;}
.font_16{ font-size: $font-size-middle;}
.font_18{ font-size: $font-size-large;}

//----------------------------------------------------------------
//color
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         #428bca;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$gray-a:                #aaa;
$gray-b:                #bbb;
$gray-c:                #ccc;
$gray-d:                #ddd;
$gray-e:                #eee;
$gray-f:                #fff;

$gray-6:                #666;
$gray-9:                #999;

$text-color:            $gray-dark;
$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;

$state-primary-text:             #428bca;
$state-primary-bg:               #428bca;
$state-primary-border:               darken($state-primary-bg, 5%);

$state-success-text:             #3c763d;
$state-success-bg:               #dff0d8;
$state-success-border:           darken($state-success-bg, 5%);

$state-info-text:                #31708f;
$state-info-bg:                  #d9edf7;
$state-info-border:              darken($state-info-bg, 7%);

$state-warning-text:             #8a6d3b;
$state-warning-bg:               #fcf8e3;
$state-warning-border:           darken($state-warning-bg, 5%);

$state-danger-text:              #a94442;
$state-danger-bg:                #f2dede;
$state-danger-border:            darken($state-danger-bg, 5%);
//website base color
$orange: #fc7d0c;
$yellow: #fab500;
$bule:   #1498ed;
//text color
body{color: $text-color;}
.color_0{ color: $gray-base;}
.color_2{ color: $gray-darker;}
.color_3{ color: $gray-dark;}
.color_5{ color: $gray;}
.color_6{ color: $gray-6;}
.color_9{ color: $gray-9 !important;}
.color_e{ color: $gray-lighter;}
.color_f{ color: $gray-f;}

@mixin text-emphasis-variant($color){color: $color;
  a:hover {color: darken($color, 10%);}
}
.text_primary {@include text-emphasis-variant($brand-primary);}
.text_success {@include text-emphasis-variant($state-success-text);}
.text_info {@include text-emphasis-variant($state-info-text);}
.text_warning {@include text-emphasis-variant($state-warning-text);}
.text_danger {@include text-emphasis-variant($state-danger-text);}

//link color
a{ color:$gray-dark; text-decoration: none;}
a:hover{ color:$link-hover-color;}

//bg color
$body-bg:               #fff;
.bg_white{ background:$body-bg;}
.bg_gray{ background: $gray;}
.bg_f2{background: #F2F2F2;}
.bg_dark{ background: $gray-dark;}
@mixin bg-variant($color,$bgcolor,$border) {
  background-color: $bgcolor; color:$color; border: 1px solid $border;
  &:hover {background-color: darken($color, 10%); color: #fff;}
}
.bg_primary{@include bg-variant($state-primary-text,$state-primary-bg,$state-primary-border);}
.bg_success {@include bg-variant($state-success-text,$state-success-bg,$state-success-border);}
.bg_info {@include bg-variant($state-info-text,$state-info-bg,$state-info-border);}
.bg_warning{@include bg-variant($state-warning-text,$state-warning-bg,$state-warning-border);}
.bg_danger{@include bg-variant($state-danger-text,$state-danger-bg,$state-danger-border);}

//----------------------------------------------------------------
//position
$left:   left;
$right:  right;
$center: center;
//float
.fl{ float: $left;}
.fr{ float: $right;}
.margin_center{ margin: 0 auto;}
.fix{ position: fixed}
.abs{ position: absolute;}
.rel{ position: relative;}
//text
.text_left{ text-align: $left !important;}
.text_center{ text-align: $center;}
.text_right{ text-align: $right;}
.text_overflow{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.type_info{ @extend .color_9;@extend .font_12}
//Toggling
.hide{ display:none;}
.show{ display: block;}

//clearfix float
@mixin clearfix(){
  &:before,&:after {content: " "; display: table;}
  &:after {clear: both;}
}
.clearfix{ @include clearfix;}
//----------------------------------------------------------------
//padding
$padding-xs:          1px;
$padding-small:       5px;
$padding-base:        10px;
$padding-large:       15px;
$padding-maxlarge:    20px;

.padt_1{ padding-top:$padding-xs !important;}
.padr_1{ padding-right:$padding-xs;}
.padb_1{ padding-bottom:$padding-xs !important;}
.padl_1{ padding-left:$padding-xs;}

.padt_5{ padding-top:$padding-small;}
.padr_5{ padding-right:$padding-small;}
.padb_5{ padding-bottom:$padding-small;}
.padl_5{ padding-left:$padding-small;}

.padt_10{ padding-top:$padding-base;}
.padr_10{ padding-right:$padding-base;}
.padb_10{ padding-bottom:$padding-base;}
.padl_10{ padding-left:$padding-base;}

.padt_15{ padding-top:$padding-large;}
.padr_15{ padding-right:$padding-large;}
.padb_15{ padding-bottom:$padding-large;}
.padl_15{ padding-left:$padding-large;}

.padt_20{ padding-top:$padding-maxlarge;}
.padr_20{ padding-right:$padding-maxlarge;}
.padb_20{ padding-bottom:$padding-maxlarge;}
.padl_20{ padding-left:$padding-maxlarge;}

//----------------------------------------------------------------
//margin
$margin-xs:          1px;
$margin-small:       5px;
$margin-base:        10px;
$margin-large:       15px;
$margin-maxlarge:    20px;

.mart_1{ margin-top:$margin-xs !important;;}
.marr_1{ margin-right:$margin-xs;}
.marb_1{ margin-bottom:$margin-xs !important;}
.marl_1{ margin-left:$margin-xs;}

.mart_5{ margin-top:$margin-small;}
.marr_5{ margin-right:$margin-small;}
.marb_5{ margin-bottom:$margin-small;}
.marl_5{ margin-left:$margin-small;}

.mart_10{ margin-top:$margin-base;}
.marr_10{ margin-right:$margin-base;}
.marb_10{ margin-bottom:$margin-base;}
.marl_10{ margin-left:$margin-base;}

.mart_15{ margin-top:$margin-large;}
.marr_15{ margin-right:$margin-large;}
.marb_15{ margin-bottom:$margin-large;}
.marl_15{ margin-left:$margin-large;}

.mart_20{ margin-top:$margin-maxlarge;}
.marr_20{ margin-right:$margin-maxlarge;}
.marb_20{ margin-bottom:$margin-maxlarge;}
.marl_20{ margin-left:$margin-maxlarge;}

//----------------------------------------------------------------
//border
$border-xs:         1px;
$border-small:       3px;
$border-base:        5px;
$border-large:       10px;

.border_xs_a{ border:$border-xs solid $gray-a;}
.border_xs_b{ border:$border-xs solid $gray-b;}
.border_xs_c{ border:$border-xs solid $gray-c;}
.border_xs_d{ border:$border-xs solid $gray-d;}
.border_xs_e{ border:$border-xs solid $gray-e;}

.border_small_a{ border:$border-small solid $gray-a}
.border_small_b{ border:$border-small solid $gray-b}
.border_small_c{ border:$border-small solid $gray-c}
.border_small_d{ border:$border-small solid $gray-d}
.border_small_e{ border:$border-small solid $gray-e}

.border_base_a{ border:$border-base solid $gray-a}
.border_base_b{ border:$border-base solid $gray-b}
.border_base_c{ border:$border-base solid $gray-c}
.border_base_d{ border:$border-base solid $gray-d}
.border_base_e{ border:$border-base solid $gray-e}

.border_large_a{ border:$border-large solid $gray-a}
.border_large_b{ border:$border-large solid $gray-b}
.border_large_c{ border:$border-large solid $gray-c}
.border_large_d{ border:$border-large solid $gray-d}
.border_large_e{ border:$border-large solid $gray-e}

.border_radius_xs{ border-radius:$border-xs;}
.border_radius_small{ border-radius:$border-small;}
.border_radius_base{ border-radius:$border-base;}
.border_radius_large{ border-radius:$border-large;}

.hr_d_top{ border-top:$border-xs solid $gray-d;}
.hr_d_left{ border-left:$border-xs solid $gray-d;}
.hr_d_bottom{ border-bottom:$border-xs solid $gray-d;}
.hr_d_right{ border-right:$border-xs solid $gray-d;}

.hr_c_top{ border-top:$border-xs solid $gray-e;}
.hr_c_left{ border-left:$border-xs solid $gray-c;}
.hr_c_bottom{ border-bottom:$border-xs solid $gray-e;}
.hr_c_right{ border-right:$border-xs solid $gray-c;}
//----------------------------------------------------------------
// Opacity
@mixin opacity($opacity) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}
@for $i from 0 through 10 {
  .op#{$i} {@include opacity($i*10)}
}

//----------------------------------------------------------------
//line-height
$line-height-base:        1.428571429;
$line-height-large:         1.33;
$line-height-small:         1.5;

//----------------------------------------------------------------
//input
$input-bg:                       #fff;
$input-bg-disabled:              $gray-lighter;
$input-color:                    $gray;
$input-border:                   #ccc;
$input-border-radius:            $border-base;
$input-border-radius-large:      $border-large;
$input-border-radius-small:      $border-small;
$input-border-focus:             #66afe9;
//** Placeholder text color
$input-color-placeholder:        #999;
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px
$input-height-base:              ($line-height-computed + ($padding-small * 2) + 2);
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large * 2) + 2);
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small * 2) + 2);
$cursor-disabled:                not-allowed;
@mixin transition($transition) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
@mixin form-control-focus($color) {$color-rgba: rgba(red($color), green($color), blue($color), .6);
    &:focus{border-color: $color; outline: 0; box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba;}
}
.box-sizing{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.help_block {display: block; margin-top: 5px;margin-bottom: 10px; color: lighten($text-color, 25%);}
.form_group{
    label {display: inline-block;max-width: 100%;margin-bottom: 5px;}
    textarea{height: auto;}
}
.form_control{display: block;width: 100%;height: $input-height-base;padding:$padding-base;font-size: $font-size-base;line-height: $line-height-base;color: $input-color;background-color: $input-bg;background-image: none;border: 1px solid $input-border;border-radius: $input-border-radius; box-shadow:inset 0 1px 1px rgba(0,0,0,.075);@include transition("border-color ease-in-out .15s, box-shadow ease-in-out .15s");margin-bottom: 15px; @extend .box-sizing;@include form-control-focus($input-border-focus);
  &[disabled],&[readonly],fieldset[disabled] & {
    cursor: $cursor-disabled;background-color: $input-bg-disabled;opacity: 1;
  }
}
input[type=file] {display: block;}
.radio,.checkbox {position: relative;display: block;margin-top: 10px;margin-bottom: 10px;
  label {min-height: $line-height-computed;padding-left: 20px;margin-bottom: 0;font-weight: normal;cursor: pointer;}
}
.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"] {position: absolute;margin-left: -20px;margin-top: 4px \9;}
.radio + .radio,.checkbox + .checkbox {margin-top: -5px;}

.radio-inline,.checkbox-inline {display: inline-block;padding-left: 20px;margin-bottom: 0;vertical-align: middle;font-weight: normal;cursor: pointer;}
.radio-inline + .radio-inline,.checkbox-inline + .checkbox-inline {margin-top: 0;margin-left: 10px;}

input[type="radio"],input[type="checkbox"] {
    &[disabled],&.disabled,fieldset[disabled] & {cursor: $cursor-disabled;}
}
.radio-inline,.checkbox-inline {
  &.disabled,fieldset[disabled] & {cursor: $cursor-disabled;}
}
.radio,.checkbox {
    &.disabled,fieldset[disabled] &{
    label {cursor: $cursor-disabled;}
  }
}


//----------------------------------------------------------------
//btn
$btn-font-weight:                normal;

$btn-default-color:              #333;
$btn-default-bg:                 #fff;
$btn-default-border:             #ccc;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                darken($btn-info-bg, 5%);

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             darken($btn-warning-bg, 5%);

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              darken($btn-danger-bg, 5%);

$btn-link-disabled-color:        $gray-light;

@mixin tab-focus{outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
@mixin button-size($padding-small,$padding-base,$font-size,$line-height,$border){
    padding: $padding-small $padding-base;font-size:$font-size;line-height: $line-height;border-radius: $border;
}
.btn{display: inline-block; margin-bottom: 0;font-weight:400px;text-align: center;vertical-align: middle;touch-action: manipulation;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;
@include button-size($padding-small,$padding-base,$font-size-base,$line-height-base,$border-base);  @extend .box-sizing;
  &,&:active{
      &:focus{@include tab-focus();}
  }
  &:hover,&:focus{color: $btn-default-color;text-decoration: none;}
  &:active{outline: 0; background-image: none; }
  &.disabled,&[disabled],fieldset[disabled] & {cursor: $cursor-disabled; pointer-events: none; @include opacity(65);}
}
@mixin button-variant($color,$background,$border){color: $color;background-color: $background;border-color: $border;
  &:hover,&:focus,&.focus,&:active,&.active,.open > .dropdown-toggle{
    color: $color;background-color: darken($background, 10%);border-color: darken($border, 12%);
  }
  &:active,&.active,.open > .dropdown-toggle{background-image: none;}
  &.disabled,&[disabled],fieldset[disabled] & {
    &, &:hover,&:focus,&.focus,&:active,&.active {background-color: $background;border-color: $border;}
  }
}
@mixin reset-filter(){
  filter:progid:DXImageTransform.Microsoft.gradient(enabled = 'false');
}
// Horizontal gradient from left to right
@mixin horizontal($start-color: #555,$end-color: #333,$start-percent: 0%,$end-percent: 100%){
    background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1),argb($start-color),argb($end-color);
    // IE9 and down
}
// Vertical gradient, from top to bottom
@mixin vertical($start-color: #555, $end-color: #333,$start-percent: 0%,$end-percent: 100%) {
    background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0),argb($start-color),argb($end-color); 
    // IE9 and dow
}
@mixin btn-styles($btn-color){
  @include vertical($start-color:$btn-color,$end-color: darken($btn-color, 12%));
  @include reset-filter; background-repeat: repeat-x; border-color: darken($btn-color, 14%);
  &:hover,&:focus{background-color: darken($btn-color, 12%);background-position: 0 -15px;}
  &:active,&.active {background-color: darken($btn-color, 12%);border-color: darken($btn-color, 14%);}
  &:disabled,&[disabled] {background-color: darken($btn-color, 12%);background-image: none;}
}
.btn_default {@include button-variant($btn-default-color,$btn-default-bg, $btn-default-border);@include btn-styles($btn-default-bg);text-shadow: 0 1px 0 #fff; border-color: #ccc;}
.btn_primary {@include button-variant($btn-primary-color,$btn-primary-bg,$btn-primary-border);@include btn-styles($btn-primary-bg);}
.btn_success {@include button-variant($btn-success-color, $btn-success-bg,$btn-success-border);@include btn-styles($btn-success-bg);}
.btn_info {@include button-variant($btn-info-color, $btn-info-bg,$btn-info-border);@include btn-styles($btn-info-bg);}
.btn_warning {@include button-variant($btn-warning-color,$btn-warning-bg,$btn-warning-border);@include btn-styles($btn-warning-bg);}
.btn_danger {@include button-variant($btn-danger-color,$btn-danger-bg,$btn-danger-border);@include btn-styles($btn-danger-bg);}
// Link buttons
.btn_link{color: $link-color;font-weight: normal;border-radius: 0;
  &,&:active,&[disabled],fieldset[disabled] & {background-color: transparent;}
  &,&:hover,&:focus,&:active {border-color: transparent;}
  &:hover,&:focus{color: $link-hover-color;text-decoration: underline;background-color: transparent;}
  &[disabled],fieldset[disabled] & {&:hover,&:focus {color: $btn-link-disabled-color;text-decoration: none;}}
}
// Button sizes
@mixin button-size($padding-small,$padding-horizontal,$font-size,$line-height,$border-radius) {
  padding: $padding-small $padding-horizontal;font-size: $font-size;line-height: $line-height;border-radius: $border-radius;
}
.btn_lg {@include button-size($padding-base,$padding-large,$font-size-large,$line-height-large,$border-base);}
.btn_sm {@include button-size($padding-small,$padding-base,$font-size-small,$line-height-small,$border-small);}
.btn_xs {@include button-size($padding-xs,$padding-small,$font-size-small,$line-height-small,$border-small);}
// Block button
.btn_block{display: block;width: 100%;}
.btn_block + .btn_block {margin-top: 5px;}
// Specificity overrides
input[type="submit"],input[type="reset"],input[type="button"] {
  &.btn-block {width: 100%;}
}



//----------------------------------------------------------------
//== Pager
$pagination-color:                     $link-color;
$pagination-bg:                        #fff;
$pagination-border:                    #ddd;

$pagination-hover-color:               $link-hover-color;
$pagination-hover-bg:                  $gray-lighter;
$pagination-hover-border:              #ddd;

$pagination-active-color:              #fff;
$pagination-active-bg:                 $brand-primary;
$pagination-active-border:             $brand-primary;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border:           #ddd;

$pager-bg:                             $pagination-bg;
$pager-border:                         $pagination-border;
$pager-border-radius:                  15px;
$pager-hover-bg:                       $pagination-hover-bg;
$pager-active-bg:                      $pagination-active-bg;
$pager-active-color:                   $pagination-active-color;
$pager-disabled-color:                 $pagination-disabled-color;

.pagination{display: inline-block;padding-left: 0;margin:$line-height-computed 0;border-radius: $border-base;
    li {display: inline; 
        a,span {position: relative;float: left; @extend .box-sizing; 
          padding:$padding-small $padding-base;line-height:$line-height-base;text-decoration: none;
          color:$pagination-color;background-color:$pagination-bg;border: 1px solid $pagination-border;margin-left: -1px;
        }
        &:first-child {
          a,span {margin-left: 0;border-bottom-left-radius:$border-base;border-top-left-radius: $border-base;}
        }
        &:last-child {
          a,span {border-bottom-right-radius: $border-base;border-top-right-radius: $border-base;}
        }
    }
    li > a,li > span {
        &:hover,&:focus {color:$pagination-hover-color;background-color:$pagination-hover-bg;border-color:$pagination-hover-border;}
    }
    .active > a,.active > span {
        &,&:hover,&:focus {z-index: 2;color:$pagination-active-color;background-color:$pagination-active-bg;border-color:$pagination-active-border;cursor: default;}
    }
    .disabled {
    > span,> span:hover,> span:focus,> a,> a:hover,> a:focus {
      color:$pagination-disabled-color;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
      cursor:$cursor-disabled;
    }
  }
}
@mixin pagination-size($padding,$font,$border){
  li{
    a,span{padding:$padding; font-size:$font;}
    &:first-child {
      a,span{border-bottom-left-radius:$border;border-top-left-radius: $border;}
    }
    &:last-child {
      a,span{border-bottom-right-radius: $border;border-top-right-radius: $border;}
    }
  }
}
// Large
.pagination-lg{
  @include pagination-size($padding-base,$font-size-base,$border-base);
}
// Small
.pagination-sm {
  @include pagination-size($padding-base,$font-size-base,$border-base);
}

//----------------------------------------------------------------
//table
$table-cell-padding:            8px;
$table-condensed-cell-padding:  5px;
$table-bg:                      transparent;
$table-bg-accent:               #f9f9f9;
$table-bg-hover:                #f5f5f5;
$table-bg-active:               $table-bg-hover;
$table-border-color:            #ddd;
.table{width: 100%;max-width: 100%;margin-bottom: $line-height-base;
  th {text-align: left;}
  // Cells
  thead,tbody,tfoot {
    tr{
      th,td{padding: $table-cell-padding;line-height: $line-height-base;vertical-align: middle;border-top: 1px solid $table-border-color;}
    }
  }
  thead > tr > th {vertical-align: bottom;border-bottom: 2px solid $table-border-color;}
  > caption + thead,> colgroup + thead,> thead:first-child {
    > tr:first-child {> th,> td {border-top: 0;}}
  }
  > tbody + tbody {border-top: 2px solid $table-border-color;}
  .table { background-color: $body-bg;}
}
.table_bordered{border: 1px solid $table-border-color;
  thead,tbody,tfoot {
    tr{
      th,td{border: 1px solid $table-border-color;}
    }
  }
  thead tr{
    th,td {border-bottom-width: 2px;}
  }
}

@mixin table-row-variant($state,$background){
  .table > thead > tr,.table > tbody > tr,.table > tfoot > tr {
    td.#{$state},th.#{$state},&.#{$state} > td,&.#{$state} > th{
        background-color:$background;
    }
  }
  .table-hover > tbody > tr {
    td.#{$state}:hover,th.#{$state}:hover,&.#{$state}:hover td,&.hover >.#{$state},&.#{$state}:hover th{
      background-color: darken($background, 5%);
    }
  }
}

@include table-row-variant(active,$table-bg-active);
@include table-row-variant(success,$state-success-bg);
@include table-row-variant(info,$state-info-bg);
@include table-row-variant(warning,$state-warning-bg);
@include table-row-variant(danger,$state-danger-bg);

//------------------------------------------------------------------------------
//col
@for $i from 1 through 20 {
  .col_#{$i*5} { width:5% * $i; }
}
