<% include component/top %>
	<div class="seacher" onclick="javascript:window.location.href='seacher.html'">
		<input type="text" name="" placeholder="输入关键字"/>
		<i class="iconfont icon-sousuo"></i>
	</div>
	<!--list-->
	<div class="qalist">
		<ul>
			<li>
				<div class="info">
					<a href="freequestionDetail.html">
						<i class="ask">问</i>
						<span>有偿抢票服务涉嫌非法牟利，并让众多通过途径购票者感到焦虑和不公，有关部门必须对这种经营活动的性质予以准确界定<em>查看全文</em></span>
					</a>
					<div class="imginfo clearfix hr_c_top">
						<div class="img fl">
							<img src="../../img/img.jpg"/>
							<i class="v_orange">v</i>
						</div>
						<div class="txt fl">
							<p>触碰心灵</p>擅长领域删除领域
						</div>
					</div>
					<a href="" class="lookanswer">￥2元偷看下答案</a>
				</div>
				<div class="text">
					<em>付费金额200元</em>·<em>30人偷看</em>·<em>15人点赞</em>
				</div>
			</li>
			<li>
				<div class="info">
					<a href="payquestionDetail.html">
						<i class="ask">问</i>
						<span>有偿抢票服务涉嫌非法牟利，并让众多通过途径购票者感到焦虑和不公，有关部门必须对这种经营活动的性质予以准确界定。</span>
					</a>
					<div class="imginfo clearfix hr_c_top">
						<div class="img fl">
							<img src="../../img/img.jpg"/>
							<i class="v_yellow">v</i>
						</div>
						<div class="txt fl">
							<p>触碰心灵</p>擅长领域删除领域
						</div>
					</div>
					<a href="" class="lookanswer">￥2元偷看下答案</a>
				</div>
				<div class="text">
					<em>付费金额200元</em>·<em>30人偷看</em>·<em>15人点赞</em>
				</div>
			</li>
			<li>
				<div class="info">
					<a href="rewardquestionDetail.html">
						<i class="ask">问</i>
						<span>有偿抢票服务涉嫌非法牟利，并让众多通过途径购票者感到焦虑和不公，有关部门必须对这种经营活动的性质予以准确界定。</span>
					</a>
					<div class="imginfo clearfix hr_c_top">
						<div class="img fl">
							<img src="../../img/img.jpg"/>
							<i class="v_bule">v</i>
						</div>
						<div class="txt fl">
							<p>触碰心灵</p>擅长领域删除领域
						</div>
					</div>
					<a href="" class="lookanswer">￥2元偷看下答案</a>
				</div>
				<div class="text">
					<em>金额0元</em>·<em>15人点赞</em>
				</div>
			</li>
		</ul>
	</div>
	<!--list-->
	<div class="release" id="release">
		<i class="iconfont icon-fabu"></i>发布
	</div>
	<% include component/bottom %>
	<% include component/bottombase %>
</body>
</html>