<% include component/top %>
	
	<!-- header -->
	<div class="header">
		首页
		<div class="header-right">
			<a href="./select.html">
				<span>湖南省</span>
				<i class="iconfont icon-shaixuan1"></i>
			</a>
		</div>
	</div>
	<!-- header -->
	
	<!-- banner -->
	<div class="swiper-container">
	  <div class="swiper-wrapper">
	    <div class="swiper-slide"><img src="../images/banner.jpg" alt=""></div>
	    <div class="swiper-slide"><img src="../images/banner.jpg" alt=""></div>
	    <div class="swiper-slide"><img src="../images/banner.jpg" alt=""></div>
	  </div>
	</div>
	<!-- banner -->
	
	<!-- index search -->
	<div class="index-search">
		<div class="input">
			<i class="iconfont icon-sousuo"></i>
			<input type="search" placeholder="请输入关键词">
		</div>
		<div class="searchschool">搜学校</div>
		<div class="searchmajor">搜专业</div>
	</div>
	<!-- index search -->
	<div class="clear"></div>
	<!-- index-nav -->
	<div class="index-nav">
		<div class="nav">
			<div class="i">
				<i class="iconfont icon-wenti1"></i>
			</div>
			<span>问题锦囊</span>
		</div>
		<div class="nav">
			<div class="i">
				<i class="iconfont icon-jianzhi"></i>
			</div>
			<span>勤工俭学</span>
		</div>
		<div class="nav">
			<div class="i">
				<i class="iconfont icon-kecheng1"></i>
			</div>
			<span>面试课程</span>
		</div>
		<div class="nav">
			<div class="i">
				<i class="iconfont icon-qq"></i>
			</div>
			<span>校友Q群</span>
		</div>
	</div>
	<!-- index-nav -->

	<!-- index list -->
	<div class="index-list">
		<a href="">
			<span class="imgtext">
				<img src="../images/test.png" alt="">
				<span class="content">
					<span class="title"><h2>湖南城建职业技术学院</h2><em>热</em></span>
					<span class="subtitle">考试时间：04/15~04/19</span>
					<span class="subtitle">录取规则：机考+面试+职业测试</span>
				</span>
			</span>
			<p class="text">
				<span>往年高考抛档线：420</span>
				<span class="blue">招生简章</span>
			</p>
		</a>
	</div>
	<!-- index list -->
	<!-- index list -->
	<div class="index-list">
		<a href="">
			<span class="imgtext">
				<img src="../images/test.png" alt="">
				<span class="content">
					<span class="title"><h2>湖南城建职业技术学院</h2><em>热</em></span>
					<span class="subtitle">考试时间：04/15~04/19</span>
					<span class="subtitle">录取规则：机考+面试+职业测试</span>
				</span>
			</span>
			<p class="text">
				<span>往年高考抛档线：420</span>
				<span class="blue">招生简章</span>
			</p>
		</a>
	</div>
	<!-- index list -->
	<!-- index list -->
	<div class="index-list">
		<a href="">
			<span class="imgtext">
				<img src="../images/test.png" alt="">
				<span class="content">
					<span class="title"><h2>湖南城建职业技术学院</h2><em>热</em></span>
					<span class="subtitle">考试时间：04/15~04/19</span>
					<span class="subtitle">录取规则：机考+面试+职业测试</span>
				</span>
			</span>
			<p class="text">
				<span>往年高考抛档线：420</span>
				<span class="blue">招生简章</span>
			</p>
		</a>
	</div>
	<!-- index list -->
	
	<!-- qq -->
	<div class="online">
		<a href="http://wpa.qq.com/msgrd?v=3&uin=715509952&site=qq&menu=yes">
		<i class="iconfont icon-kefu"></i>
		<span>客服</span>
		</a>
	</div>
	<!-- qq -->
	
<% include component/bottom %>
<script src="../script/swiper.min.js"></script>
<script type="text/javascript">
  const mySwiper = new Swiper('.swiper-container',{loop: false,autoplay:false,});
  indexSearch()
  function indexSearch(){
	  $(".searchschool").on("touchend",function(e){
		  const vaule = $(this).siblings(".input").find('input').val()
		  alert(vaule)
	  })
	  $(".searchmajor").on("touchend",function(e){
		  const vaule = $(this).siblings(".input").find('input').val()
		  alert(vaule)
	  })
  }
</script>