<% include component/top %>
	
	<!-- header -->
	<div class="header">
		问题锦囊
	</div>
	<!-- header -->
	<% include component/banner %>
	
	<!-- question-list -->
	<div class="question-list">
		<a href="">
			<span class="imgtext">
				<img src="../images/test.png" alt="">
				<span class="content">
					<span class="title">单招到底是怎么一回事单招到底是怎么一回事单招到底是怎么一回事单招到底是怎么一回事？标题文字最多显示2行，</span>
					<span class="subtitle">单招考试文章描述，没有填自动抓取前面的文
字。单招考试文章描述...</span>
				</span>
			</span>
		</a>
	</div>
	<!-- question-list -->
	<!-- question-list -->
		<div class="question-list">
			<a href="">
				<span class="imgtext">
					<img src="../images/test.png" alt="">
					<span class="content">
						<span class="title">单招到底是怎么一回事单招到底是怎么一回事单招到底是怎么一回事单招到底是怎么一回事？标题文字最多显示2行，</span>
						<span class="subtitle">单招考试文章描述，没有填自动抓取前面的文
	字。单招考试文章描述...</span>
					</span>
				</span>
			</a>
		</div>
		<!-- question-list -->
	
<% include component/bottom %>
