@charset "UTF-8";
@import "common/public";
.header{ background:linear-gradient(#111,#3f4044); height: rem(88); line-height: rem(88); color: #fff; text-align: center; font-size: rem(37);}
//搜索
.index-search{position: absolute; top:rem(108); height: rem(80); line-height: rem(80); border-bottom: 1px solid #e6e6ea; width: rem(690);background: #fff; left: 50%; margin-left: - rem(690/2); border-radius:rem(10); padding:0 rem(20); box-sizing:border-box;
    input{width:90%;border: none; color: #333; font-size: rem(26);}
    i{ font-size: rem(30); color: #bbb; float: left; width: rem(30);}
}


.swiper-slide{ 
	img{width: 100%;}
}

.index-nav{ display:flex; justify-content: space-around; padding: rem(25) 0; 
	.nav{
		.i{ width:rem(90); height: rem(90); background: #fb9d45; border-radius:10px; line-height: rem(90); text-align: center;
			i{ color: #fff; font-size: rem(60);}
		}
		span{ padding-top: rem(10);  display: inline-block; color: #4e4e4e;}
	}
	.nav:nth-child(2){ 
		.i{background: #f9674d;}
	}
	.nav:nth-child(3){ 
		.i{background: #34bdc4;}
	}
	.nav:nth-child(4){ 
		.i{background: #3d87e9;}
	}
}

.inform{ width: 100%; height: rem(72); line-height: rem(72); background: #fefced; padding:0 rem(25); box-sizing: border-box;
	span{font-size: rem(28); color: #4e4e4e;}
	.icon-tongzhi{ color: #ff5c5c; font-size: rem(30); font-weight: bold;float: left; margin-right:rem(15);}
	.icon-guanbi{ color: #f98c4c; font-size: rem(24); float: right;}
}
.close{transition: all .7s ease; opacity:0;
	.icon-guanbi{ transition: all .7s ease; transform: rotate(360deg);}
}

.online{position: fixed; right: rem(30); bottom: rem(150); background: linear-gradient(to right, #61d2fc , #33a1e6); width: rem(120); height: rem(120); border-radius: 50%; text-align: center;box-shadow:0 rem(2) rem(15) #216793; 
	i{ font-size: rem(64); color: #fff; display: block; margin-top: rem(10);}
	span{ color: #fff;}
	&:active{
		opacity: 0.8;
	}
}
.index-title{ display: flex; justify-content: space-between; padding: 0 rem(30); line-height: rem(55);
	span{ color: #4e4e4e;}
	.header-right{ 
		a{ color: #4e4e4e;}
		i{ font-size: rem(32); overflow: hidden;}
	}
}
.index-list{background: #fff; padding: rem(20) rem(30); 
	a{
		.imgtext{display:flex;width:100%;
			img{ width:rem(140); height: rem(140); border: 1px solid #bbb;}
			.content{ flex: 1; padding-left: rem(20);
				.title{display: flex;}
				span{ color: #4e4e4e; display: block;}
				h2{ font-size: rem(32); color: #000; line-height: rem(60);}
				em{ width: rem(40);text-align: center; line-height: rem(40);height: rem(40);  background: #ff5c5c; color: #fff; border-radius: 5px; margin-left: rem(10); margin-top: rem(10);}
				.subtitle{ font-size: rem(36); color: #ff5c5c;}
			}
		}
		.text{border-top: 1px solid #eee; color: #4e4e4e; line-height: rem(40); display: flex; justify-content: space-between; margin-bottom: 0; padding-top: rem(20);
			em{ height: rem(40); line-height: rem(40); padding: 0 rem(15); border: 1px solid #108ee9; border-radius: rem(8); color: #108ee9; margin-right: rem(10);}
			.blue{}
		}
	}
}

//搜索
.search{position: fixed; top:rem(88); height: rem(88); line-height: rem(88); border-bottom: 1px solid #e6e6ea; width: 100%; padding: 0 rem(30); box-sizing: border-box; background: #fff;
    input{width:90%;border: none; color: #333; font-size: rem(26);}
    i{ font-size: rem(30); color: #bbb; float: left; width: rem(30);}
}
.search-list{ margin-top: rem(108); background: #fff;
	ul{ padding:0 rem(30);
		li{ height: rem(95); line-height: rem(95); border-bottom: 1px solid #e5e5e5; font-size: rem(30);}
	}
}

.question-list{background: #fff; padding: rem(20) rem(30); margin-top: rem(25);
	a{
		.imgtext{width:100%; display: flex;
			img{ width:rem(140); height: rem(140); border: 1px solid #bbb;}
			.content{padding-left: rem(20);line-height: rem(35);min-width: 0; flex: 1;
				.title{font-size: rem(32); color: #000; margin-bottom: rem(10);display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
				.subtitle{ font-size: rem(26); color: #4e4e4e; display: block;}
			}
		}
	}
}
.gird{ background: #fff; padding: rem(30);
	.title{ font-size: rem(32); padding-bottom: rem(20);}
}
.table{ display: table; width: 100%; border: 1px solid #d8d8d8;
	tr{height: rem(75); border-bottom: 1px solid #d8d8d8;
		td{ text-align: center;border-right: 1px solid #d8d8d8;font-size: rem(28);}
	}
}
.link{display:flex; margin-top: rem(25);
	a{ background: #fb9d45; font-size: rem(36); color: #fff; height: rem(88); line-height: rem(88); text-align: center; width: 50%;
		&:active{ opacity: 0.8;}
	}
	.width_100{ width: 100%;}
	.blue{ background: #3d87e9;}
}
.mar_25{ margin: rem(25);}
.alumni-list{width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;
	.list{ padding: rem(25); background: #fff; box-shadow:0 rem(4) rem(10) #bbb; text-align:center; width:48%; box-sizing:border-box; margin-bottom:rem(20);
		p{margin: 0;}
		.title{ font-size: rem(28); color: #000;}
		.subtitle{ font-size: rem(26); color: #3d87e9; margin: rem(20) 0 rem(10) 0;}
		img{ width: rem(280); height: rem(280);}
		span{ width: 100%; height: rem(64); line-height: rem(64); color: #fff;background: #3D87E9;font-size: rem(26); display: inline-block;margin-top: rem(10);border-radius: rem(10);}
	}
}

.test{ display: flex; justify-content: space-between;width: 100%;flex-wrap: wrap;
	.test1{ width: 50%; height: rem(100); background:#029209; white-space: nowrap;}
	.test1:nth-child(2){ background: #34BDC4;}
	
}