@charset "UTF-8";
@import "common/public";
.header{ background:linear-gradient(#111,#3f4044); height: rem(88); line-height: rem(88); color: #fff; text-align: center; font-size: rem(37);}
//搜索
.index-search{position: absolute; top:rem(108); height: rem(80); line-height: rem(80); border-bottom: 1px solid #e6e6ea; width: rem(690);background: #fff; left: 50%; margin-left: - rem(690/2); border-radius:rem(10); padding:0 rem(20); box-sizing:border-box; z-index:2;
    input{width:90%;border: none; color: #333; font-size: rem(26);}
    i{ font-size: rem(30); color: #bbb; float: left; width: rem(30);}
}

.swiper-slide{ 
	img{width: 100%;}
}

.index-nav{ display:flex; justify-content: space-around; padding: rem(25) 0; 
	.nav{
		.i{ width:rem(90); height: rem(90); background: #fb9d45; border-radius:10px; line-height: rem(90); text-align: center;
			i{ color: #fff; font-size: rem(60);}
		}
		span{ padding-top: rem(10);  display: inline-block; color: #4e4e4e;}
	}
	.nav:nth-child(2){ 
		.i{background: #f9674d;}
	}
	.nav:nth-child(3){ 
		.i{background: #34bdc4;}
	}
	.nav:nth-child(4){ 
		.i{background: #3d87e9;}
	}
}

.inform{ width: 100%; height: rem(72); line-height: rem(72); background: #fefced; padding:0 rem(25); box-sizing: border-box;
	span{font-size: rem(28); color: #4e4e4e;}
	.icon-tongzhi{ color: #ff5c5c; font-size: rem(30); font-weight: bold;float: left; margin-right:rem(15);}
	.icon-guanbi{ color: #f98c4c; font-size: rem(24); float: right;}
}
.close{transition: all .7s ease; opacity:0; height: 0; overflow: hidden;
	.icon-guanbi{ transition: all .7s ease; transform: rotate(360deg);}
}

.online{position: fixed; right: rem(30); bottom: rem(150); background: linear-gradient(to right, #61d2fc , #33a1e6); width: rem(120); height: rem(120); border-radius: 50%; text-align: center;box-shadow:0 rem(2) rem(15) #216793; 
	i{ font-size: rem(64); color: #fff; display: block; margin-top: rem(10);}
	span{ color: #fff;}
	&:active{
		opacity: 0.8;
	}
}
.index-title{ display: flex; justify-content: space-between; padding: 0 rem(30); line-height: rem(55);
	span{ color: #4e4e4e;}
	.header-right{ 
		a{ color: #4e4e4e;}
		i{ font-size: rem(32); overflow: hidden;}
	}
}
.index-list{background: #fff; padding: rem(20) rem(30); 
	a{
		.imgtext{display:flex;width:100%;
			img{ width:rem(140); height: rem(140); border: 1px solid #bbb;}
			.content{ flex: 1; padding-left: rem(20);
				.title{display: flex;}
				span{ color: #4e4e4e; display: block;}
				h2{ font-size: rem(32); color: #000; line-height: rem(60);}
				em{ width: rem(40);text-align: center; line-height: rem(40);height: rem(40);  background: #ff5c5c; color: #fff; border-radius: 5px; margin-left: rem(10); margin-top: rem(10);}
				em.hot{background: #fb9d45;}
				em.new{background: #3d87e9;}
				.subtitle{ font-size: rem(36); color: #ff5c5c;}
			}
		}
		.text{border-top: 1px solid #eee; color: #4e4e4e; line-height: rem(40); display: flex; justify-content: space-between; margin-bottom: 0; padding-top: rem(20);
			em{ height: rem(40); line-height: rem(40); padding: 0 rem(15); border: 1px solid #108ee9; border-radius: rem(8); color: #108ee9; margin-right: rem(10);}
			.blue{}
		}
	}
}

//搜索
.search{position: fixed; top:rem(88); height: rem(88); line-height: rem(88); border-bottom: 1px solid #e6e6ea; width: 100%; padding: 0 rem(30); box-sizing: border-box; background: #fff;
    input{width:90%;border: none; color: #333; font-size: rem(26);}
    i{ font-size: rem(30); color: #bbb; float: left; width: rem(30);}
}
.search-list{ margin-top: rem(108); background: #fff;
	ul{ padding:0 rem(30);
		li{ height: rem(95); line-height: rem(95); border-bottom: 1px solid #e5e5e5; font-size: rem(30);}
	}
}

.gird{ background: #fff; padding:0 rem(30) rem(30);
	.title{ font-size: rem(32); background: #f2f2f2; line-height: rem(80); margin-top: rem(30); padding:0 rem(20); color: #666;}
	.subtitle{ font-size: rem(28); padding: rem(20) 0; line-height: rem(40);
		em{width: rem(10); height: rem(35); background: #3d87e9; display: inline-block;  float: left; margin-right:rem(10);}
	}
}
.table{ display: table; width: 100%; border: 1px solid #d8d8d8;
	tr{height: rem(75); border-bottom: 1px solid #d8d8d8;
		td{ text-align: center;border-right: 1px solid #d8d8d8;font-size: rem(28);}
		img{width:100%; padding: rem(10); box-sizing: border-box;}
	}
}
.link{display:flex; margin-top: rem(25);
	a{ background: #fb9d45; font-size: rem(36); color: #fff; height: rem(88); line-height: rem(88); text-align: center; width: 50%;
		&:active{ opacity: 0.8;}
	}
	.width_100{ width: 100%;}
	.blue{ background: #3d87e9;}
}
.mar_25{ margin: rem(25);}
.takeat{ border-bottom: 1px solid #d4d4d4; height: rem(80); line-height: rem(80); font-size: rem(32); display: flex;  background: #fff;margin-bottom: rem(25);
	span{ width: 33%; text-align: center;}
	span.actived{ border-bottom: 1px solid #3d87e9; color: #3d87e9; margin-bottom: -1px;}
}
.apply{
	.title{line-height: rem(65); border-bottom: 1px solid #e8e8e8; color: #888; font-size: rem(28); padding:0 rem(30);
	}
	.sex{ width: rem(145); float: left; display: flex;
		.weui-cell__hd{ width: 50%; padding: 0;}
	}
// 	.content{ background: #fff; padding:0 rem(30);
// 		.tr{ font-size: rem(34); display:flex; height:rem(95); border-bottom:1px solid #e4e4e4; line-height:rem(95);
// 			span{ width: rem(180);}
// 			span.width_245{ width: rem(245);}
// 			.input{ color: #666;
// 				input{font-size: rem(34);border: none;}
// 			}
// 		}
// 	}
	.button{ margin: rem(30); background: #3d87e9; color: #fff; font-size: rem(36); height: rem(88); line-height: rem(88); text-align: center; border-radius: rem(12); width: rem(690);
		&:active{opacity: .8;}
	}
}
.toolbar .toolbar-inner,.picker-calendar-month-picker, .picker-calendar-year-picker{height: rem(80); line-height: rem(80);
	a,h1{line-height: rem(80);height: rem(80);}
} 
.picker-calendar-year-picker,.picker-calendar-month-picker{
	.current-month-value,.current-year-value,a{height: rem(80); line-height: rem(80);}
	.link{margin-top:0;}
}
.toolbar, .toolbar .title{ font-size: rem(36);}
.weui-cells{ margin-top: 0;}
.weui-picker-modal .picker-items{ font-size: rem(32);}
i.icon.icon-next, i.icon.icon-prev{ width: rem(30);}
.picker-calendar-month-picker a.icon-only, .picker-calendar-year-picker a.icon-only{text-align: center;justify-content: center;align-items: center;}
.weui-cell.bottom .weui-cell__bd:after{ width: 100%;}
.weui-cell.bottom .weui-cell__bd input::-webkit-input-placeholder{ color: #f60;} 
.weui-cell .weui-cell__bd:after{ position: absolute; bottom: 0; width: 0; height: 1px; background: #f60; content: "";transition: all ease .6s;}

.flowdetails{ padding: rem(30); font-size: rem(28); line-height: rem(48);
	img{ max-width: 99%;}
}